@model GymMemberDetailsListViewModel
@{
    Layout = null;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    ModelPopUpViewModel addFollowUpModel = new ModelPopUpViewModel() { ModelPopUpId = "AddUpdateFollowUpModelPopupId", ModalContentId = "AddUpdateFollowUpModelPopupContentId" };
    ModelPopUpViewModel manualAttendanceModel = new ModelPopUpViewModel() { ModelPopUpId = "ManualAttendanceModelPopupId", ModalContentId = "ManualAttendanceModelPopupContentId" };
    string css = "";
}

<div class="row">
    @Html.Partial("~/Views/Shared/Datatable/_DatatableShowResult.cshtml", Model.PageListViewModel.RecordPerPage)
    @Html.Partial("~/Views/Shared/Datatable/_DatatableSearchData.cshtml", Model.PageListViewModel.SearchBy)
</div>

<div class="row">
    <div class="col-sm-12 table-responsive">
        <table id="datatable" class="action-set table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
            @Html.Partial("~/Views/Shared/Datatable/_DatatableColumns.cshtml", Model.PageListViewModel)
            <tbody>
                @if (Model?.GymMemberDetailsList?.Count > 0)
                {
                    foreach (var item in Model?.GymMemberDetailsList)
                    {
                        {
                            css = item.IsActive ? "" : "pointer-events: none;";
                        };
                        <tr>
                            <td style="text-align: center; width: 0px">
                                @if (!string.IsNullOrEmpty(item.ImagePath))
                                {
                                    <img src="@item.ImagePath" class="rounded-circle thumb-xs me-1" />
                                }
                                else
                                {
                                    <div class="avatar-box thumb-md align-self-center">
                                        <span class="avatar-title bg-soft-pink rounded-circle">@item.FirstName.Substring(0, 1)@item.LastName.Substring(0, 1)</span>
                                    </div>
                                }
                            </td>
                            <td>@item.PersonCode</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.MobileNumber</td>
                            <td>@item.EmailId</td>                           

                            <td>
                                @Html.Partial("~/Views/Shared/Datatable/_DatatableTrueFalse.cshtml", item.IsActive)
                            </td>
                            <td class="text-center data-action">
                                <a href="../@controllerName/UpdateMemberPersonalDetails?gymMemberDetailId=@item.GymMemberDetailId&personId=@item.PersonId" title="Update" class="btn btn-sm btn-soft-success btn-circle"><i class="fas fa-edit"></i></a><span class="m-2">|</span>
                                <a data-bs-toggle="modal" data-bs-target="#@addFollowUpModel.ModelPopUpId" href="void javascritp(0)" onclick="GymMemberDetails.GetMemberFollowUp('@addFollowUpModel.ModalContentId','@item.GymMemberDetailId','0','@item.PersonId')" title="Add Follow-Up" class="btn btn-sm btn-soft-warning btn-circle"><i class="fas fa-handshake"></i></a><span class="m-2">|</span>
                                <a data-bs-toggle="modal" data-bs-target="#@manualAttendanceModel.ModelPopUpId" style="@(item.IsActive ? "" : "pointer-events: none;") @(item.IsActive ? "" : "color: grey;")" href="void(0)" onclick="@(item.IsActive ? $"GymMemberDetails.CreatEditGeneralPersonAttendanceDetails('{manualAttendanceModel.ModalContentId}','{item.GymMemberDetailId}','0','{item.PersonId}')" : "return false;")" title="Manual Attendance" class="btn btn-sm btn-soft-info btn-circle">
                                    <i class="fas fa-calendar-check"></i>
                                </a>
                                <span class="m-2">

                            </td>
                        </tr>


                    }
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("~/Views/Shared/Datatable/_DatatablePagination.cshtml", Model.PageListViewModel)
@Html.Partial("~/Views/Shared/_ModelPopUp.cshtml", addFollowUpModel)
@Html.Partial("~/Views/Shared/_ModelPopUp.cshtml", manualAttendanceModel)
